*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url("./gojo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
main{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.box{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    align-content: center;
    justify-content: center;
}
.anime , .char , .quote{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
}
.quote{
    font-weight: 500;
}
button{
    position: absolute;
    top: 85%;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 12px;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}